.to-do-wrapper {
  min-width: 300px;
  width: 100%;
  background-color: #303030;
}

.task-complete {
  text-decoration: line-through;
}

.todo-status {
  text-align: right;
}

.spacer {
  flex: 1 1 auto;
}

.no-tasks-message {
  color: white;
}
